@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* 
{
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Avenir', sans-serif; 
}

p {
    font-family: 'Open Sans', sans-serif; 
}

.green-icon {
    background: #6AC37F;
    width: 8px;
    height: 8px;
    gap: 0px;
 }

.hero-badge {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem; 
    background-color: #FAFAFAB2;
    border: 1px solid #ECECEC; 
}

.badge {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem; 
    background-color: #FAFAFAB2;
    border: 1px solid #ECECEC; 
    gap: 12px;
}

.badge-text {
    font-family: 'Open-Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 22.2px;
    text-align: left;
    color: #343F4C;
}

.card {
  border: 1px solid #EDEDED; 
  background-color: #FBFBFC8F;
  transition: 0.3s;
  border-radius: 20px;
}

.steps-badge {
    font-family: 'Open-Sans', sans-serif;
    width: 124px;
    height: 36px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #FAFAFAB2;
    border: 1px solid #ECECEC; 
    border-radius: 2rem; 
}

.steps-badge-text {
    font-family: 'Avenir', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 22.2px;
    text-align: left;
}

.hr {
    border: 1px dashed #E9E9E9;
    border-width: 0.1px;
    border-radius: 10px;
}

.perks-card {
    background-color: #F9F9F966;
    border: 1px solid #EDEDED; 
    transition: 0.3s;
    border-radius: 20px;
}

.custom-btn {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 25px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.79px;
    margin-top: 0.5rem;
    width: 10.5rem;
    background: linear-gradient(90deg, #4C42B8, #4C42B8);
}

.custom-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #7435FF 16.55%, #1A599E 88.98%);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: -1;
    border-radius: 25px;
}

.custom-btn:hover::before {
    opacity: 1;
}

#arrow-path-1,
#arrow-path-2,
#arrow-path-3,
#arrow-path-4 {
    transition: all 0.5s;
}

.custom-btn-1, .custom-btn-2 {
    padding: 0.8rem 0.5rem 0.8rem 1.5rem;
    width: 11rem;
    display: flex;
    gap: 7px;
}

.custom-btn-3 {
    padding: 0.8rem 0.5rem 0.8rem 1.5rem;
    width: 12rem;
    gap: 3px;
}

.custom-btn-4 {
    padding: 0.8rem 0.5rem 0.8rem 1.5rem;
    width: 16rem;
    gap: 3px;
}

.features-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200vw;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(rgba(255, 255, 255,0),#F9F9F9);
}

.streamlining-section {
    background-image: url('./assets/loremIpsumBg.png');
    background-repeat: 'no-repeat';
    background-size: cover;
}

.nav-child {
    position: absolute;
    width: 413.07px;
    height: 321.07px;
    bottom: 250px;
    left: -14rem;
    transform: rotate(-210deg); 
    background: radial-gradient(58.21% 60% at -4.41% 8.74%, rgba(103, 232, 249, 0.3) 0%, rgba(192, 132, 252, 0.3) 100%);
    filter: blur(100px);
}

.hero-child {
    position: absolute;
    width: 480.07px;
    height: 401.07px;
    bottom: 220px;
    right: -230px;
    background: radial-gradient(58.21% 60% at -4.41% 8.74%, rgba(103, 232, 249, 0.3) 0%, rgba(192, 132, 252, 0.3) 100%);
    z-index: -1; 
    transform: rotate(96.67deg);
    filter: blur(180px);
}

.onboarding-child {
    position: absolute;
    width: 157.87px;
    height: 123.73px;
    top: 500px;
    left: 300px;
    z-index: -1;
    transform: rotate(43.73deg); 
    border: 85.33px solid transparent;
    border-image-source: radial-gradient(81.39% 84.82% at -6.17% 12.35%, rgba(103, 232, 249, 0.85) 0%, rgba(192, 132, 252, 0.85) 100%);
    border-image-slice: 1;
    filter: blur(80px);
}

.features-child-1 {
    position: absolute;
    width: 400.07px;
    height: 401.07px;
    top: -50px;
    left: -100px;
    z-index: -1;
    transform: rotate(-135deg); 
    background: radial-gradient(58.21% 60% at -4.41% 8.74%, rgba(103, 232, 249, 0.3) 0%, rgba(192, 132, 252, 0.3) 100%);
    filter: blur(150px);
}

.features-child-2 {
    position: absolute;
    width: 127.87px;
    height: 123.73px;
    bottom: 600px;
    right: -150px;
    border: 85.33px solid transparent; 
    border-image-source: radial-gradient(81.39% 84.82% at -6.17% 12.35%, rgba(103, 232, 249, 0.65) 0%, rgba(192, 132, 252, 0.65) 100%);
    border-image-slice: 1; 
    filter: blur(120px);
}

.perks-child {
    position: absolute;
    width: 380.25px;
    height: 220.77px;
    top: 850px;
    left: 380px;
    z-index: -1;
    transform: rotate(-210deg); 
    background: radial-gradient(58.21% 60% at -4.41% 8.74%, rgba(103, 232, 249, 0.6) 0%, rgba(192, 132, 252, 0.6) 100%);
    filter: blur(90px);
}

.social-icons {
    transition: filter 0.3s ease-in-out; 
    cursor: pointer;
    opacity: 0.5;
    filter: grayscale(100%); 
}
  
.social-icons:hover {
    filter: none; 
    opacity: 1;
}

/* Community Logo */
.circle {
    border-radius: 50%;
    background: rgba(186, 121, 251, 0.8);
    position: absolute;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
    z-index: -1;
}

.circle:nth-child(1) {
    animation-delay: -3s;
}
  
.circle:nth-child(2) {
    animation-delay: -2s;
}
  
.circle:nth-child(3) {
    animation-delay: -1s;
}
  
.circle:nth-child(4) {
    animation-delay: 0s;
}

@keyframes scaleIn {
    from {
      transform: scale(.5, .5);
      opacity: .5;
    }
    to {
      transform: scale(2.5, 2.5);
      opacity: 0;
    }
}

/* Slider */
.vertical-text-slider {
    height: 30px;
    overflow-y: hidden;
    margin-top: 1.5rem;
}

.vertical-text-slider h2 {
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
    font-family: 'Avenir', sans-serif;
    text-align: center;
}

.vt-slider-1 {
    color: #4C42B8;
    animation: slide 5s linear infinite;
}

.vt-slider-2 {
    color: #6AC37F;
}

.vt-slider-3 {
    color: #F25821;
}

@keyframes slide {
    0% {
        margin-top: -80px;
    }

    5% {
        /* For stopping effect */
        margin-top: -60px;
    }

    33% {
        margin-top: -60px;
    }

    38% {
        /* For stopping effect */
        margin-top: -30px;
    }

    66% {
        margin-top: -30px;
    }

    71% {
        /* For stopping effect */
        margin-top: 0px;
    }

    100% {
        margin-top: 0px;
    }
}

/* Policy Section CSS */
.li-index {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
  
.li-index h1 a.active {
    color: #6AC37F;
}