@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    scroll-behavior: smooth;
}

h1 {
    font-family: "Poppins", sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

/* home page */
.hero-gradient {
    /* background: #FFFFFF; */
    /* background: linear-gradient(0deg, #FFFFFF, #FAFCFE); */
    /* background: linear-gradient(359.96deg, #F7FBFE 0.03%, #F7FBFE 87.55%, #FFFFFF 96.6%); */
    background: linear-gradient(359.96deg, #FFFFFF 0.03%, #F7FBFE 87.55%, #F7FBFE 96.6%);
    /* background: linear-gradient(0deg, #FFFFFF, #F7FBFE, #F7FBFE); */
}

.hero-secondary {
    background-image: url('../images/landing/hero-lines-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
}

/* Hero Modal */
.modal {
    transition: opacity 0.25s ease;
}
.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}

/* Hero Video */
.o-video {
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 56.25%; /* 9 / 16 * 100 */
}

.o-video > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

.mv-left-arrow {
    transition: all 3s;
    transform: translate(52px, -50px);
}

.mv-left-arrow-active {
    transform: translate(102px, -55px);
}

.mv-right-arrow {
    transition: all 2.5s;
    transform: translate(65px, -98px);
}

.mv-right-arrow-active {
    transform: translate(75px, -105px)
}

@media (min-width: 590px) {
    .mv-left-arrow {
        transform: translate(142px, -80px);
    }

    .mv-left-arrow-active {
        transform: translate(152px, -75px);
    }

    .mv-right-arrow {
        transform: translate(45px, -63px);
    }

    .mv-right-arrow-active {
        transform: translate(50px, -68px)
    }
}

@media (min-width: 800px) {
    .mv-left-arrow {
        transform: translate(185px, -92px);
    }

    .mv-left-arrow-active {
        transform: translate(175px, -97px);
    }

    .mv-right-arrow {
        transform: translate(40px, -75px);
    }

    .mv-right-arrow-active {
        transform: translate(50px, -80px)
    }
}

@media (min-width: 1024px) {
    .mv-left-arrow {
        transform: translate(252px, -133px);
    }

    .mv-left-arrow-active {
        transform: translate(242px, -137px);
    }

    .mv-right-arrow {
        transform: translate(65px, -98px);
    }

    .mv-right-arrow-active {
        transform: translate(75px, -105px)
    }
}

@media (min-width: 1280px) {
    .mv-left-arrow {
        transform: translate(252px, -133px);
    }

    .mv-left-arrow-active {
        transform: translate(242px, -137px);
    }

    .mv-right-arrow {
        transform: translate(65px, -108px);
    }

    .mv-right-arrow-active {
        transform: translate(75px, -115px)
    }
}

#play-btn-home {
    fill: url(#play-btn-color);
    transition: fill 0.5s, transform 0.5s;
}

#play-btn-home:hover svg {
    fill: url(#play-btn-color-hover);
    transform: scale(1.05);

}

path {
    transition: fill 0.5s ease;
}

#play-btn-home path {
    fill: url(#play-btn-color);
}

#play-btn-home:hover path {
    fill: url(#play-btn-color-hover);
}

.video-text {
    background-image: linear-gradient(90deg, #4C42B8, #4C42B8);
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-image 0.5s ease;
}

.video-text:hover {
    background-image: linear-gradient(90deg, #7435FF 16.55%, #1A599E 88.98%);
}

.green-icon {
    background: #6AC37F;
    width: 8px;
    height: 8px;
    gap: 0px;
}

.hero-badge {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    background-color: #FAFAFAB2;
    border: 1px solid #ECECEC;
}

.badge {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    background-color: #FAFAFAB2;
    border: 1px solid #ECECEC;
    gap: 12px;
}

.badge-text {
    font-family: 'Open-Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 22.2px;
    text-align: left;
    color: #343F4C;
}

.card {
    border: 1px solid #EDEDED;
    background-color: #FBFBFC8F;
    transition: 0.3s;
    border-radius: 20px;
}

.steps-badge {
    font-family: 'Open-Sans', sans-serif;
    width: 124px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #FAFAFAB2;
    border: 1px solid #ECECEC;
    border-radius: 2rem;
}

.steps-badge-text {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 22.2px;
    text-align: left;
}

.hr {
    border: 1px dashed #E9E9E9;
    border-width: 0.1px;
    border-radius: 10px;
}

.perks-card {
    background-color: #F9F9F966;
    border: 1px solid #EDEDED;
    transition: 0.3s;
    border-radius: 20px;
}

.custom-btn {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 25px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    background: linear-gradient(90deg, #4C42B8, #4C42B8);
}

.custom-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #7435FF 16.55%, #1A599E 88.98%);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: -1;
    border-radius: 25px;
}

.custom-btn:hover::before {
    opacity: 1;
}

#arrow-path-1,
#arrow-path-2,
#arrow-path-3,
#arrow-path-4,
#arrow-contact-path,
#pricing-arrow-path-1,
#pricing-arrow-path-2,
#pricing-arrow-path-3 {
    transition: all 0.5s;
}

.custom-btn-1 {
    width: 11.5rem;
    gap: 7px;
}

.custom-btn-2 {
    width: 14rem;
    gap: 7px;
}

.custom-btn-3 {
    width: 13rem;
    gap: 3px;
}

.custom-btn-4 {
    width: 16rem;
    gap: 3px;
}

.contact-form-btn {
    padding: 0.8rem 0.2rem 0.8rem 0.8rem;
    width: 9rem;
    gap: 3px;
}

.pricing-btn-1 {
    width: 9rem;
    gap: 3px;
}

.pricing-btn-2 {
    width: 9rem;
    gap: 3px;
}

.pricing-btn-3 {
    width: 9.5rem;
    gap: 3px;
}

.features-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200vw;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(rgba(255, 255, 255, 0), #F9F9F9);
}

.streamlining-section {
    background-image: url('../images/streamling-Bg.png');
    /* url('./assets/images/loremIpsumBg.png');*/
    background-repeat: 'no-repeat';
    background-size: cover;
}

.nav-child {
    position: absolute;
    width: 413.07px;
    height: 321.07px;
    bottom: 250px;
    left: -14rem;
    transform: rotate(-210deg);
    background: radial-gradient(58.21% 60% at -4.41% 8.74%, rgba(103, 232, 249, 0.3) 0%, rgba(192, 132, 252, 0.3) 100%);
    filter: blur(100px);
}

.hero-child {
    position: absolute;
    width: 380.07px;
    height: 401.07px;
    bottom: 250px;
    right: -230px;
    background: radial-gradient(58.21% 60% at -4.41% 8.74%, rgba(103, 232, 249, 0.3) 0%, rgba(192, 132, 252, 0.3) 100%);
    transform: rotate(96.67deg);
    filter: blur(150px);
}

.onboarding-child {
    position: absolute;
    width: 157.87px;
    height: 123.73px;
    top: 450px;
    left: 300px;
    z-index: -1;
    transform: rotate(43.73deg);
    border: 85.33px solid transparent;
    border-image-source: radial-gradient(81.39% 84.82% at -6.17% 12.35%, rgba(103, 232, 249, 0.85) 0%, rgba(192, 132, 252, 0.85) 100%);
    border-image-slice: 1;
    filter: blur(80px);
}

.features-child-1 {
    position: absolute;
    width: 400.07px;
    height: 401.07px;
    top: -50px;
    left: -100px;
    z-index: -1;
    transform: rotate(-135deg);
    background: radial-gradient(58.21% 60% at -4.41% 8.74%, rgba(103, 232, 249, 0.3) 0%, rgba(192, 132, 252, 0.3) 100%);
    filter: blur(150px);
}

.features-child-2 {
    position: absolute;
    width: 127.87px;
    height: 123.73px;
    bottom: 600px;
    right: -150px;
    border: 85.33px solid transparent;
    border-image-source: radial-gradient(81.39% 84.82% at -6.17% 12.35%, rgba(103, 232, 249, 0.65) 0%, rgba(192, 132, 252, 0.65) 100%);
    border-image-slice: 1;
    filter: blur(120px);
}

.perks-child {
    position: absolute;
    width: 390.25px;
    height: 240.77px;
    top: 715px;
    left: 290px;
    z-index: -1;
    transform: rotate(-210deg);
    background: radial-gradient(58.21% 60% at -4.41% 8.74%, rgba(103, 232, 249, 0.6) 0%, rgba(192, 132, 252, 0.6) 100%);
    filter: blur(90px);
}

.social-icons {
    transition: filter 0.3s ease-in-out;
    cursor: pointer;
    opacity: 0.5;
    filter: grayscale(100%);
}

.social-icons:hover {
    filter: none;
    opacity: 1;
}

/* Community Logo */
.circle {
    border-radius: 50%;
    background: rgba(177, 106, 248, 0.8);
    position: absolute;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
    z-index: -1;
}

.circle:nth-child(1) {
    animation-delay: -3s;
}

.circle:nth-child(2) {
    animation-delay: -2s;
}

.circle:nth-child(3) {
    animation-delay: -1s;
}


.circle:nth-child(4) {
    animation-delay: 0s;
}

.hero-circle {
    border-radius: 50%;
    background: rgba(177, 106, 248, 0.8);
    position: absolute;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
    z-index: 1;
}

.hero-circle:nth-child(1) {
    animation-delay: -3s;
}

.hero-circle:nth-child(2) {
    animation-delay: -2s;
}

.hero-circle:nth-child(3) {
    animation-delay: -1s;
}


.hero-circle:nth-child(4) {
    animation-delay: 0s;
}

/* 
.circle:nth-child(5) {
    animation-delay: 1s;
}
  
.circle:nth-child(6) {
    animation-delay: 2s;
}
  
.circle:nth-child(7) {
    animation-delay: 3s;
} */
@keyframes scaleIn {
    from {
        transform: scale(.5, .5);
        opacity: .5;
    }

    to {
        transform: scale(2.5, 2.5);
        opacity: 0;
    }
}

/* Slider */
.vt-slider-1 {
    animation: slide 3s linear infinite;
}

@keyframes slide {
    0% {
        margin-top: -110px;
    }

    5% {
        margin-top: -75px;
    }

    33% {
        margin-top: -75px;
    }

    38% {
        margin-top: -40px;
    }

    66% {
        margin-top: -40px;
    }

    71% {
        margin-top: 0px;
    }

    100% {
        margin-top: 0px;
    }
}

/* Policy Section CSS */
.li-index {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.li-index h1 a.active {
    color: #6AC37F;
}

/* Pricing CSS */
.pricing-save {
    background-color: #EEF0F2;
    color: #C8C8C8;
}

.pricing-save-active {
    background-color: #FEC753;
    color: #000000;
}

.pricing-lable-active {
    font-weight: bold;
}

.toggle-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}

.toggle-switch {
    background-color: #6AC37F;
    width: 42px;
    height: 23px;
    border-radius: 16px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.toggle-switch::before {
    content: "";
    font-weight: 900;
    background-color: white;
    width: 17px;
    height: 17px;
    position: absolute;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
    transition: 0.3s;
}

.toggle-checkbox:checked+.toggle-switch {
    background-color: #4C42B8;
}

.toggle-checkbox:checked+.toggle-switch::before {
    content: "";
    left: 22px;
    color: #4C42B8;
}

/* Features Section */
.pr-blur-round-bg {
    background: radial-gradient(81.39% 84.82% at -6.17% 12.35%, rgba(103, 232, 249, 0.9) 0%, rgba(192, 132, 252, 0.9) 100%);
}

/* horizontal scroll slider  */
.hr-scroll {
    box-shadow: 0px 4px 4px 0px #0000000D;
    height: 0rem;
}

.hr-scroll a {
    transition: .1s all;
}

.nav-slider {
    background-color: #11144F;
    transition: all .3s linear;
    height: 3px;
    position: absolute;
    top: 62px;
}

.hr-scroll-sticky {
    position: fixed;
    top: 0;
    height: 4rem;
    transition: 0.5s all;
    /* height: 4rem; */
}

.hide-scrollbar {

    /* Hide scrollbar for Chrome, Safari, and Opera */
    ::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.typewriter {
    font-family: monospace;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
}

.cursor {
    display: inline-block;
    width: 0.5em;
    animation: blink 0.7s steps(2, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.fr-hero-bg-blur {
    background: radial-gradient(81.39% 84.82% at -6.17% 12.35%, rgba(192, 132, 252, 0.38) 9%, rgba(103, 232, 249, 0.38) 100%);
}

.feature-branding-img-main {
    background-image: url('/assets/images/features/features-card-8-bg.svg');
}
  